body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
*{
  padding:0;
  margin:0;
}
@font-face{
  font-family: Quartz ;
  src: url("../../assets/font/Quartz\ Regular.ttf");
}
label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
ul{
  padding:0;
  margin:0;
}
ul li{
  list-style: none;
}
div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.title-module{
  display: flex;
  justify-items: center;
  align-items: center;
  font-size:68px;
  font-family:Microsoft YaHei;
  font-weight:400;
  color:#fff;
  .line{
    display: inline-block;
    width:24px;
    height:67px;
    background:rgba(34,154,255,1);
    margin-right: 47px;
  }
}
.content{
  .blue{
    color: #31C5E3;
  }
}
